body {
  font-family: "Inter", sans-serif;
}
h1 {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  font-weight: 300;
  font-size: 11.9vw;
  margin: auto;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
h2 {
  font-weight: 300;
  font-size: 4vw;
  margin-bottom: 30px;
  line-height: 4vw;
}
h4 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5vw;
  margin-top: 15px;
  margin-bottom: 0;
}
header {
  padding: 25px;
}
main {
  padding-left: 25px;
  padding-bottom: 25px;
  padding-right: 25px;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.logo {
  height: 60px;
}
.menu-list ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 64px;
  width: 100%;
  padding-left: 0;
}
.language ul {
  list-style: none;
  display: flex;
  gap: 10px;
}
.language ul li a {
  text-decoration: none;
  color: inherit;
}
.slider {
  margin-top: 30px;
}
.swiper-main-page {
  border-radius: 15px;
}
.swiper-button-next {
  color: #000;
}
.swiper-button-prev {
  color: #000;
}
.swiper-slide img {
  width: 100%;
}
.bestsellers-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.normal-white-button {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #fff;
  border-radius: 30px;
  border: 1px solid #000;
  padding: 7px 20px 7px 20px;
  font-size: 1vw;
  cursor: pointer;
}
.normal-white-button:hover {
  background-color: #000;
  color: #fff;
}
.normal-white-button:hover svg path {
  fill: #fff;
}
.bestseller-item {
  display: flex;
  flex-direction: column;
}
.bestseller-item-img {
  border-radius: 8px;
  border: 1px solid #000;
  padding-top: 50px;
  padding-bottom: 50px;
}
.bestseller-item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bestseller-item p {
  font-weight: 300;
}
.link-to-about-us {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.link-to-about-us img {
  width: 100%;
}
.align-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.link-to-about-us p {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.5vw;
  width: 45%;
}
