/*********************** Universal styles ***********************/
body {
  font-family: "Inter", sans-serif;
}
main {
  padding-left: 25px;
  padding-bottom: 25px;
  padding-right: 25px;
}
h1 {
  display: flex;
  white-space: nowrap;
  font-weight: 300;
  font-size: 11.5vw;
  margin: auto;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
h2 {
  font-weight: 300;
  font-size: 4vw;
  margin-bottom: 30px;
  line-height: 4vw;
}
h4 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.4vw;
  margin-top: 15px;
  margin-bottom: 0;
}
.normal-button {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 30px;
  padding: 7px 20px 7px 20px;
  font-size: 1vw;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
}
.white-button {
  background-color: #fff;
  border: 1px solid #000;
}
.white-button:hover {
  background-color: #000;
  color: #fff;
}
.white-button:hover svg path {
  fill: #fff;
}
.transparent-button {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}
.transparent-button:hover {
  background-color: #ffffff;
  color: #000000;
}
.transparent-button:hover svg path {
  fill: #000000;
}
.white-button-without-border {
  background-color: #fff;
  border: 1px solid #ffffff;
}
.white-button-without-border:hover {
  background-color: #000;
  color: #fff;
  border: 1px solid #000000;
}
.white-button-without-border:hover svg path {
  fill: #fff;
}
.slider {
  margin-top: 30px;
}
.swiper-button-next {
  color: #000;
}
.swiper-button-prev {
  color: #000;
}
.swiper-slide img {
  width: 100%;
}
.swiper-slide-item {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}
.swiper-slide-item-img {
  border-radius: 8px;
  border: 1px solid #000;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper-slide-item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.swiper-slide-item p {
  font-weight: 300;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}
header {
  padding: 25px;
}
.section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.section-title .tab-buttons {
  display: flex;
  gap: 12px;
}
.disabled {
  border: 1px solid #999999;
  color: #999999;
}
.active {
  border: 1px solid #000000;
  color: #000000;
}
/*********************** Header ***********************/
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.logo {
  height: 60px;
}
.menu-list ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 64px;
  width: 100%;
  padding-left: 0;
}
.language ul {
  list-style: none;
  display: flex;
  gap: 10px;
}
.language ul li a {
  text-decoration: none;
  color: inherit;
}
/*********************** Top swiper Index page ***********************/
.swiper-main-page {
  border-radius: 15px;
}
/*********************** Link to about us Index page ***********************/
.link-to-about-us {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.link-to-about-us img {
  width: 100%;
}
.align-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.link-to-about-us p {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.5vw;
  width: 45%;
}
/*********************** Kabinet Products Index page ***********************/
.swiper-slide-item-shop-now {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.swiper-slide-item-shop-now-img {
  position: relative;
  border-radius: 8px;
  border: 1px solid #000;
  padding-top: 50px;
  padding-bottom: 50px;
}
.shop-now {
  position: absolute;
  font-weight: 300;
  text-transform: uppercase;
}
.swiper-slide-item-shop-now {
  cursor: pointer;
}
.swiper-slide-item-shop-now:hover:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: #0e0e0e;
  border-radius: 8px;
  z-index: 98;
}
.swiper-slide-item-shop-now:hover span {
  color: #fff;
  z-index: 99;
}
/*********************** Trip to kabinet lounge Index page ***********************/
.trip-to-kabinet-lounge {
  margin-top: 70px;
  display: flex;
}
.trip-to-kabinet-lounge img {
  width: 100%;
}
.kabinet-lounge-title {
  position: absolute;
  width: 65%;
  margin-top: 10px;
  margin-left: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  color: #fff;
}
.kabinet-lounge-title-h2 {
  text-transform: uppercase;
  flex-basis: 55%;
}
.kabinet-lounge-title-desc {
  flex-basis: 35%;
  font-weight: 300;
  font-size: 1.2vw;
}
.kabinet-lounge-title-buttons {
  display: flex;
  justify-content: space-between;
}
/*********************** Latest news Index page ***********************/
.swiper-latest-news .swiper-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1.5%;
}
.swiper-latest-news .side-slide {
  width: calc(94% / 4) !important;
}
.swiper-latest-news .central-slide {
  width: 49% !important;
}
.swiper-latest-news .swiper-slide-item-img {
  border-radius: 8px;
  border: none;
  padding-top: 0px;
  padding-bottom: 0px;
}
.swiper-latest-news p {
  margin-bottom: 5px;
}
.swiper-latest-news h4 {
  margin-top: 5px;
}
/*********************** Footer ***********************/
.back-to-top {
  display: flex;
  justify-content: flex-end;
}
.back-to-top button {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  background-color: transparent;
  border: none;
  color: #00000080;
  font-size: 1.1vw;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 60px;
  margin-bottom: 25px;
  margin-right: 25px;
  cursor: pointer;
}
.back-to-top button:hover {
  color: #000000;
}
.back-to-top button:hover svg path {
  fill-opacity: 1;
}
.footer-main {
  background-color: #111111;
  padding-top: 50px;
  padding-left: 25px;
  padding-right: 25px;
}
.subscribe-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.subscribe-input {
  border: none;
  background: transparent;
  font-family: "Inter", sans-serif;
  color: #fff;
  font-size: 2vw;
}
.subscribe-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  border: none;
  background: transparent;
  font-family: "Inter", sans-serif;
  color: #fff;
  font-size: 2vw;
  font-weight: 300;
  padding-right: 0;
}
.subscribe-button svg {
  transition: transform 1s;
}
.subscribe-button:hover svg {
  transform: rotate(180deg);
}
.main-links-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #fff;
  margin-top: 30px;
}
.list-menu-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9vw;
  text-transform: uppercase;
}
.list-menu-footer ul {
  list-style: none;
  margin-top: 5px;
  margin-bottom: 0;
  padding-left: 0;
}
.list-menu-footer ul li {
  color: #ffffffb2;
  padding-top: 5px;
  padding-bottom: 5px;
}
.soc-net-icons {
  display: flex;
  align-items: center;
  gap: 35px;
}
.soc-net-icons svg {
  transition: transform 0.5s;
}
.soc-net-icons svg:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.developed-by {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #ffffff80;
  font-size: 0.9vw;
  padding-bottom: 25px;
}
/*********************** Shop Main page ***********************/
.shop-category-with-title h2 {
  margin-top: 50px;
}
.shop-category {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px 30px;
}
.shop-item-img {
  border-radius: 8px;
  border: 1px solid #000;
  padding-top: 50px;
  padding-bottom: 50px;
}
.shop-item-img img {
  width: 100%;
}
.shop-item-title {
  display: flex;
  justify-content: space-between;
}
.shop-item {
  text-transform: uppercase;
}
.next-shop-category {
  display: flex;
  margin-top: 60px;
}
.next-shop-category img {
  width: 100%;
}
.next-shop-category-title {
  position: absolute;
  margin-top: 40px;
  margin-left: 40px;
}
.next-shop-category-button {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 4vw;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}
.next-shop-category:hover {
  cursor: pointer;
}
.next-shop-category-button {
  cursor: pointer;
}
.next-shop-category svg {
  transition: transform 1s;
}
.next-shop-category:hover svg {
  cursor: pointer;
  transform: rotate(180deg);
}
/*********************** Shop filters ***********************/
.filters-section {
  margin-top: 30px;
  border-top: solid 1px #000;
  border-bottom: solid 1px #000;
  color: #000000b2;
}
.filters-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 50px 30px;
}
.filter-title {
  font-weight: 500;
  color: #000;
}
.filters-wrapper div {
  margin-top: 5px;
  margin-bottom: 5px;
}
.filters-wrapper input {
  display: none;
}
.filters-wrapper input + label {
  display: flex;
  align-items: center;
  gap: 10px;
}
.filters-wrapper input + label:before {
  content: "";
  border: 1px solid #0000004d;
  border-radius: 2px;
  height: 13px;
  width: 13px;
}
.filters-wrapper input:checked + label:before {
  background-color: #000;
  border-color: #000;
}
.clear-button {
  display: flex;
  justify-content: flex-end;
}
.clear-button button {
  background-color: transparent;
  border: none;
  color: #00000080;
  font-size: 1.1vw;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 20px;
  cursor: pointer;
}
.clear-button button:hover {
  color: #000000;
}
